.SPRT{
  font-size: large;
  font-weight: bold;
  padding-bottom: 10%;
}

  
  .nav-link.active {
    font-weight: bold;
  }
  
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn {
    width: 100%;
  }
  