.navbar {
    font-family: 'Spectral', serif;
    padding-left: 1vw;


  }

  .navbar-nav{
    padding-left: 4%;
  }

  #nome {
    font-family: 'Spectral';
    font-weight: bold;
    padding-top: 1vw;
    text-align: center;
  }
  
  #tagline {
    font-family: 'Spectral';
    font-size: medium;
    text-align: center;
  }

 