/* Sidebar.css */

.card-groups {
    background-color: #f8f9fa; /* Define a cor de fundo do Sidebar */
    width: 250px; /* Define a largura do Sidebar */
    height: 100vh; /* Define a altura do Sidebar */
    position: fixed; /* Fixa o Sidebar no lado da tela */
    top: 0; /* Inicia no topo da página */
    left: 0; /* Inicia no lado esquerdo da página */
    overflow: auto; /* Permite a rolagem se o conteúdo for muito longo */
    transition: all 0.5s; /* Adiciona uma animação para a abertura e fechamento do Sidebar */
    z-index: 99999;
}

.card-group .nav-link {
    color: #333; /* Define a cor dos links */
    padding: 10px 20px; /* Adiciona um pouco de preenchimento em torno dos links */
}

.card-group .nav-link:hover {
    color: #007BFF; /* Altera a cor dos links quando o mouse está sobre eles */
    background-color: #eee; /* Altera a cor de fundo do link quando o mouse está sobre ele */
}

.open {
    width: 0; /* Define a largura do Sidebar para 0 quando ele está fechado */
    overflow: hidden; /* Esconde o conteúdo quando o Sidebar está fechado */
}
